<footer class="footer">
  <small>
    <%= t "the_html",
      link: link_to(t("ror_tutorial"), "http://www.railstutorial.org/") %>
    <%= t ".by_html",
      link: link_to(t(".author_name"), "http://www.michaelhartl.com/") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about_text"), about_path %></li>
      <li><%= link_to t("contact_text"), contact_path %></li>
     <li><%= link_to(t("news_text"),
        "http://news.railstutorial.org/") %></li>
    </ul>
  </nav>
</footer>
